$transitionTime: 300ms;
$btnColor: #fdcc52;
$colorDark: #333;
$mainHeaderBgUrl: '../img/bg-pattern.png';
$mainHeaderBgGradient: linear-gradient(to right, #db2431, #7b4397);
$headerTitleColor: #fff;
$sectionDiscoverGradient: linear-gradient(to right, #fdca4c, #fdc948);
$sectionUnlimitedFeaturesBg: #fff;
$sectionFriendsBg: linear-gradient(to right, #fdca4c, #fdc948);
$textMutedColor: #6c757d;
$darkTextColor: #212529;
$sectionLetsGetStartedGradient: linear-gradient(
  rgba(0, 0, 0, 0.6),
  rgba(0, 0, 0, 0.6)
);
$sectionLetsGetStartedUrl: '../img/bg-cta.jpg';
