.p-i-p {
  margin: auto;
  width: 300px;
  position: relative;

  &__frame {
    width: 100%;
  }

  &__screen {
    position: absolute;
    width: 265px;
    left: 18px;
    border-radius: 3px;
    top: 64px;
  }
}
